
###> symfony/framework-bundle ###
.env
/public/bundles/
/public/build
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
